[submodule "vimfiles/bundle/solarized"]
	path = vimfiles/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vimfiles/bundle/nerdtree"]
	path = vimfiles/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
